<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>


  
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <br/>


    <form method="post" action="/login">
      <label>User Name</label>
      <br/>
      <input type="text" name="username">
      <br/>
      <label>Password</label>
      <br/>
      <input type="password" name="password">
      <input type="submit" >
    </form>



  </body>
</html>